.navbar{
   background-color: #2874f0;
   padding: 10px 30px;
}
#items{
    padding: 10px 30px;
    background-color: white;
    height: 20%;

}
.flip-img{
    width: 75px;
    float: right;
}
.input-group{
    width: 625px;
    margin-left: 12px;
    height: 36px;
}
.form-control{
    height: 36px;
    border-radius: 0mm;
    font-size: 15px;
    font-weight: 600;
}
.row-box{
    display: flex;
}
.navbar-brand{
    margin: 0;
}
.first{
    display: flex;
    margin-left: 10%;
    align-items: center;
    font-family: 'Roboto ',Arial,sans-serif;
   
    
}
#second{
    display: flex;
    /* margin-left: 205px; */
    font-family: 'Roboto ',Arial,sans-serif;
    font-weight: 600;
    align-items: center;
    position: relative;
    left: 25%;


}
.cart-1{
    color: white;
    font-size: 16px;
}
.cart-1:hover{
    color: white;
    text-decoration: none;
}
.margin1{
    margin: 0 20px;
}
.btn{
    height: 36px;
    color: white;
    background-color: #2874f0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto ',Arial,sans-serif;
    font-weight: 600;
}
.btn-login{
    cursor: pointer;
    width: 115px;
    border: 0;
    height: 32px;
    background-color: white;
    color: blue;
    font-size: 16px;
    font-family: 'Roboto ',Arial,sans-serif;
    font-weight: 600;
}
.dropdown-menu{
    font-size: 15px;
    font-family: 'Roboto ',Arial,sans-serif;
    font-weight: 600;
}
.dropdown-item{
    font-family: 'Roboto ',Arial,sans-serif;
    font-weight: 600;
    
}
/* section 2 */
.items-box
{
    list-style: none;
    text-align: center;
    margin-top: 5px;
    width: 80%;
    position: relative;
    left: 9%;
}
.image{
    width: 80px;
}
.margin{
    margin: 0 15px;
    width: 110px;
}
.a-tag{
    color: black;
    text-decoration: none;
    font-family: 'Roboto ',Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.a-tag:hover{
    color: blue;
    text-decoration: none;
    font-family: 'Roboto ',Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
}  
.col-lg-4{
    display: flex;
}
.carousel-img{
    
    width: 100%;
}
.carousel-item{
    height: 45%;
}

#sec-3{
    height: 45%;
}
.sec-3-box{
    
    margin: 0;
    background-color: lightgrey;
    
}
.carousel-img1{
    width: 100%;
    /* border: solid 1px; */
    padding: 10px 0px;
    cursor: pointer;
}
ul{
    list-style-type: none;
}

/* footer */
#footer{
    background-color: #2b2e4a;
}

.footer-box{
   
    font-size: 13px;
    padding: 0 5%;
    font-family: 'Roboto ',Arial,sans-serif;
}
li{
    color: white;
}
p{
    color: grey;
}
@media(max-width:1025px){
    .carousel-item{
        height: 30%;
    }
    #items{
        height: 30%;
    }
    #footer{
        margin-top: 40%;
    }
    .btn{
        visibility: hidden;
    }
     .cart{ 
        visibility: hidden;
    }
    .row-box{
        display: block;
    }
}
